/** Dark Theme **/
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --logo-vetusta-fill-color: #fceb00;
    --facebook-fill-color: #1778f2;
    --twitter-fill-color: #1da1f2;
    --instagram-fill-color: #c13584;
    --top-button-background: var(--text-color-primary);
    --top-button-color: var(--background-color);
    --twitter-verified: #fff;
  }
}
[data-theme="dark"] {
  --logo-vetusta-fill-color: #fceb00;
  --facebook-fill-color: #e6e6e6;
  --facebook-stroke-color: #1778f2;
  --twitter-fill-color: #1da1f2;
  --instagram-fill-color: #c13584;
  --top-button-background: var(--text-color-primary);
  --top-button-color: var(--background-color);
  --twitter-verified: #fff;
}

/** Light Theme **/
@media only screen and (prefers-color-scheme: light) {
  :root:not([data-theme="dark"]) {
    --logo-vetusta-fill-color: #151111;
    --facebook-fill-color: #1778f2;
    --twitter-fill-color: #1da1f2;
    --instagram-fill-color: #c13584;
    --top-button-background: #daa520; /* rgb(255, 239, 213); */
    --top-button-color: var(--background-color);
    --twitter-verified: var(--twitter-fill-color);
  }
}
[data-theme="light"] {
  --logo-vetusta-fill-color: #151111;
  --facebook-fill-color: #1778f2;
  --twitter-fill-color: #1da1f2;
  --instagram-fill-color: #c13584;
  --top-button-background: #daa520;
  --top-button-color: var(--background-color);
  --twitter-verified: var(--twitter-fill-color);
}
